body {
  cursor: none; /* hide system cursor */
  overflow: hidden;
}

.game-area {
  width: 100vw;
  height: 100vh;
  position: relative;
  background: #111;
}

.player {
  position: absolute;
  width: 32px;
  height: 32px;
  background: url('../../assets/button-icon-2.png') no-repeat center/contain;
  pointer-events: none;
}

.snake-seg {
  position: absolute;
  width: 24px;
  height: 24px;
  background: url('../../assets/button-icon.png') no-repeat center/contain;
}

.item {
  position: absolute;
  width: 20px;
  height: 20px;
  background: url('../../assets/button-icon.png') no-repeat center/contain;
}
